/* VARIÁVEIS CSS */

:root {
    --cor-cinza-principal:#BBBBBB;
    --cor-cinza-secundario:#beb9d1;
    --cor-azul-cabecalho:#6156c3;
    --cor-preto:black;
    --cor-marron:brown;
    --cor-branca:white;
}

:root {
    --fonte-principal:'Berkshire Swash', cursive;
}